<div class="container px-20 pt-14 mb-20">
    <p class="font-semibold text-2xl my-3 ml-3">{{title}}</p>
    <div #swiperContainer class="swiper-container">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let movie of videoContents">
                <div (mouseenter)="setHoverMovie(movie)" (mouseleave)="clearHoverMovie()" class="swiper-slide relative">
                    <img [src]="movie.Poster" alt="">
                    <div @fade *ngIf="(movie.Title === this.selectedContent) || (movie.name === this.selectedContent)" class="desc p-2">
                        <span class="text-base flex flex-wrap font-bold">{{movie.Title}}</span>
                        <p class="text-xs my-3">{{movie.Plot | discription:140}} </p>
                        <div class="py-3 absolute w-[90%] bottom-1">
                            <p class="text-xs flex justify-between items-center">
                                <span class="text-green-500">Vote Average : {{movie.Ratings}} / 10</span>
                                <i class="fa fa-2x fa-chevron-circle-down"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>